body {
	background-color: black;
}

h1 {
	color:  #cc0000;
	text-align: center;
	font-size: 30px;
	
}
 h2 {
	 color: #e62e00;
	 font-size: 22px;
 }
 h3 {
	 color: #661400;
 }

 p {
	 color: #e62e00;
 }
 
 
 form {
	 color: yellow;
	 font-size: 18px;
	 
 }
 
 button {
	 color: #e62e00;
 }
 radio button{
	 color: #e62e00;
 }
 
 